@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $size $color !important;
    -moz-box-shadow: inset $top $left $blur $size $color !important;
    box-shadow: inset $top $left $blur $size $color !important;
  }

  @else {
    -webkit-box-shadow: $top $left $blur $size $color !important;
    -moz-box-shadow: $top $left $blur $size $color !important;
    box-shadow: $top $left $blur $size $color !important;
  }
}

.bg-fa {
  background-color: #fafafa;
}
.bg-xlight{
    background-color: #FAFAFA
}
.bg-elight{
  background-color: #f5f5f5
}
 
.i-required{
  color: #dc3545;
}

.pe-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.b-radius-0{
  border-radius: 0 !important;
}