FormsAdminGP/src/FormsAdminGP.Domain/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.dll
FormsAdminGP/.vs/FormsAdminGP/v15/.suo
FormsAdminGP/.vs/FormsAdminGP/v15/Server/sqlite3/storage.ide
FormsAdminGP/.vs/FormsAdminGP/v15/Server/sqlite3/storage.ide-shm
FormsAdminGP/.vs/FormsAdminGP/v15/Server/sqlite3/storage.ide-wal
FormsAdminGP/src/FormsAdminGP.Common/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.dll
FormsAdminGP/src/FormsAdminGP.Common/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.pdb
FormsAdminGP/src/FormsAdminGP.Common/obj/FormsAdminGP.Common.csproj.nuget.cache
FormsAdminGP/src/FormsAdminGP.Common/obj/FormsAdminGP.Common.csproj.nuget.g.props
FormsAdminGP/src/FormsAdminGP.Common/obj/project.assets.json
FormsAdminGP/src/FormsAdminGP.Common/obj/Debug/netcoreapp2.2/FormsAdminGP.Common.dll
FormsAdminGP/src/FormsAdminGP.Common/obj/Debug/netcoreapp2.2/FormsAdminGP.Common.pdb
FormsAdminGP/src/FormsAdminGP.Common/obj/Debug/netcoreapp2.2/FormsAdminGP.Common.assets.cache
FormsAdminGP/src/FormsAdminGP.Common/obj/Debug/netcoreapp2.2/FormsAdminGP.Common.csproj.CoreCompileInputs.cache
FormsAdminGP/src/FormsAdminGP.Common/obj/Debug/netcoreapp2.2/FormsAdminGP.Common.csprojAssemblyReference.cache
FormsAdminGP/src/FormsAdminGP.Data/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.dll
FormsAdminGP/src/FormsAdminGP.Data/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.pdb
FormsAdminGP/src/FormsAdminGP.Data/bin/Debug/netcoreapp2.2/FormsAdminGP.Data.dll
FormsAdminGP/src/FormsAdminGP.Data/bin/Debug/netcoreapp2.2/FormsAdminGP.Data.pdb
FormsAdminGP/src/FormsAdminGP.Data/bin/Debug/netcoreapp2.2/FormsAdminGP.Data.deps.json
FormsAdminGP/src/FormsAdminGP.Data/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.dll
FormsAdminGP/src/FormsAdminGP.Data/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.pdb
FormsAdminGP/src/FormsAdminGP.Data/obj/FormsAdminGP.Data.csproj.nuget.cache
FormsAdminGP/src/FormsAdminGP.Data/obj/FormsAdminGP.Data.csproj.nuget.g.props
FormsAdminGP/src/FormsAdminGP.Data/obj/project.assets.json
FormsAdminGP/src/FormsAdminGP.Data/obj/Debug/netcoreapp2.2/FormsAdminGP.Data.dll
FormsAdminGP/src/FormsAdminGP.Data/obj/Debug/netcoreapp2.2/FormsAdminGP.Data.pdb
FormsAdminGP/src/FormsAdminGP.Data/obj/Debug/netcoreapp2.2/FormsAdminGP.Data.assets.cache
FormsAdminGP/src/FormsAdminGP.Data/obj/Debug/netcoreapp2.2/FormsAdminGP.Data.csproj.CoreCompileInputs.cache
FormsAdminGP/src/FormsAdminGP.Data/obj/Debug/netcoreapp2.2/FormsAdminGP.Data.csprojAssemblyReference.cache
FormsAdminGP/src/FormsAdminGP.Domain/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.dll
FormsAdminGP/src/FormsAdminGP.Domain/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.pdb
FormsAdminGP/src/FormsAdminGP.Domain/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.pdb
FormsAdminGP/src/FormsAdminGP.Domain/obj/FormsAdminGP.Domain.csproj.nuget.cache
FormsAdminGP/src/FormsAdminGP.Domain/obj/FormsAdminGP.Domain.csproj.nuget.g.props
FormsAdminGP/src/FormsAdminGP.Domain/obj/project.assets.json
FormsAdminGP/src/FormsAdminGP.Domain/obj/Debug/netcoreapp2.2/FormsAdminGP.Domain.dll
FormsAdminGP/src/FormsAdminGP.Domain/obj/Debug/netcoreapp2.2/FormsAdminGP.Domain.pdb
FormsAdminGP/src/FormsAdminGP.Domain/obj/Debug/netcoreapp2.2/FormsAdminGP.Domain.assets.cache
FormsAdminGP/src/FormsAdminGP.Domain/obj/Debug/netcoreapp2.2/FormsAdminGP.Domain.csproj.CoreCompileInputs.cache
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.dll
FormsAdminGP/src/FormsAdminGP.Domain/obj/Debug/netcoreapp2.2/FormsAdminGP.Domain.csprojAssemblyReference.cache
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.dll
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.pdb
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Data.dll
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Data.pdb
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.dll
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.pdb
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.dll
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.pdb
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.deps.json
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.runtimeconfig.dev.json
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Services.dll
FormsAdminGP/src/FormsAdminGP.RestfulAPI/bin/Debug/netcoreapp2.2/FormsAdminGP.Services.pdb
FormsAdminGP/src/FormsAdminGP.RestfulAPI/obj/FormsAdminGP.RestfulAPI.csproj.nuget.cache
FormsAdminGP/src/FormsAdminGP.RestfulAPI/obj/FormsAdminGP.RestfulAPI.csproj.nuget.g.props
FormsAdminGP/src/FormsAdminGP.RestfulAPI/obj/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.dll
FormsAdminGP/src/FormsAdminGP.RestfulAPI/obj/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.pdb
FormsAdminGP/src/FormsAdminGP.RestfulAPI/obj/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.assets.cache
FormsAdminGP/src/FormsAdminGP.RestfulAPI/obj/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.csproj.CoreCompileInputs.cache
FormsAdminGP/src/FormsAdminGP.RestfulAPI/obj/Debug/netcoreapp2.2/FormsAdminGP.RestfulAPI.csprojAssemblyReference.cache
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.dll
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Common.pdb
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Data.dll
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Data.pdb
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Domain.pdb
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Services.dll
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Services.pdb
FormsAdminGP/src/FormsAdminGP.Services/bin/Debug/netcoreapp2.2/FormsAdminGP.Services.deps.json
FormsAdminGP/src/FormsAdminGP.Services/obj/FormsAdminGP.Services.csproj.nuget.cache
FormsAdminGP/src/FormsAdminGP.Services/obj/FormsAdminGP.Services.csproj.nuget.g.props
FormsAdminGP/src/FormsAdminGP.Services/obj/project.assets.json
FormsAdminGP/src/FormsAdminGP.Services/obj/Debug/netcoreapp2.2/FormsAdminGP.Services.dll
FormsAdminGP/src/FormsAdminGP.Services/obj/Debug/netcoreapp2.2/FormsAdminGP.Services.pdb
FormsAdminGP/src/FormsAdminGP.Services/obj/Debug/netcoreapp2.2/FormsAdminGP.Services.assets.cache
FormsAdminGP/src/FormsAdminGP.Services/obj/Debug/netcoreapp2.2/FormsAdminGP.Services.csproj.CoreCompileInputs.cache
FormsAdminGP/src/FormsAdminGP.Services/obj/Debug/netcoreapp2.2/FormsAdminGP.Services.csprojAssemblyReference.cache
