<h2>
    Reporte Aforo Ingreso Semanal TUCA
</h2>
<table width="100%" border="1" cellpadding="0" cellspacing="0">
    <thead style="color:#ffffff">
        <tr bgcolor="#337ab7">
            <th>
                Descripcion
            </th>
            <th>
                Periodo
            </th>
            <th>
                Aforo Anterior
            </th>
            <th>
                Aforo Actual
            </th>
            <th>
                %
            </th>
            <th>
                Ingreso Anterior
            </th>
            <th>
                Ingreso Actual
            </th>
            <th>
                %
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">Reporte Accum Mes</td>
            <td align="center">Mes 05</td>
            <td align="right">383,109</td>
            <td align="right">305,619</td>
            <td align="right">-20.20%</td>
            <td align="right">$16,657,908</td>
            <td align="right">$14,657,908</td>
            <td align="right">-15.20%</td>
        </tr>
        <tr style="text-align:right">
            <td align="center">Reporte Accum Mes</td>
            <td align="center">Ano 2017</td>
            <td>11383,109</td>
            <td>22305,619</td>
            <td>-20.20%</td>
            <td>$226,657,908</td>
            <td>$214,657,908</td>
            <td>-15.20%</td>
        </tr>
    </tbody>
</table>


<h3>GRAFICAS</h3>

<table>
    <tbody>
        <tr>
            <td rowspan="3">
                <p style="margin:0">
                    <img src="http://localhost/ICA/KPI/assets/img/chartkpi/line.png" style="width:100%;" alt="">
                </p>
            </td>
            <td align="center">
                <strong>TDPA Ene-Nov 2017</strong>
                <p style="margin:0">
                    <img src="http://localhost/ICA/KPI/assets/img/chartkpi/kpi.png" style="width:150px;" alt="">
                </p>
            </td>
        </tr>
        
        <tr>
            <td align="center" style="margin-top:20px; padding-top:15px">
                <strong>Ingresos Ene-Nov 2017</strong>
                <p style="margin:0">
                    <img src="http://localhost/ICA/KPI/assets/img/chartkpi/kpi.png" style="width:150px;" alt="">
                </p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p style="margin:0">
                    <img src="http://localhost/ICA/KPI/assets/img/chartkpi/kpi.png" style="width:150px;" alt="">
                </p>
            </td>
        </tr>
    </tbody>
</table>