<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo - formulario GP</title>
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
    <style>
        .form-group.invalid input {
            border-color: #dc3545;
        }
    </style>
</head>

<body class="pt-3">
    <div id="app" v-cloak class="container mt-5">


        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header bg-white">
                        <h5 class="text-center">{{title}}</h5>
                    </div>
                    <div class="card-body bg-light p-2">
                        <div class="container-fluid bg-white pt-3 pb-3">
                            <form @submit.prevent="onSubmit">
                                <div v-for="(item, index) in dataList" class="form-group" :class="{invalid: $v.formData.name.$error}">

                                    <input v-if="item.fieldTypeId =='textInput'" type="text" :name="dataList[index].name" class="form-control"
                                        :placeholder="item.title" maxlength="50" @blur="$v.formData.name.$touch()" v-model="dataList[index].name">
                                    <p class="m-0">
                                        <span class="text-danger" v-if="$v.formData.name.$dirty && !$v.formData.name.required">Please
                                            enter a name.</span>
                                    </p>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="./js/vuelidate/dist/vuelidate.min.js"></script>
    <script src="./js/vuelidate/dist/validators.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script>
        Vue.use(window.vuelidate.default)
        import { required } from "vuelidate/lib/validators";
    </script> -->
    <script src="./js/app.js"></script>
</body>

</html>